@page "/"

<PageTitle>Financial Chat</PageTitle>


<AuthorizeView>
    <NotAuthorized>
        <h1>Financial Chat</h1>
        Welcome to your financial chat app.
        <SurveyPrompt Title="Do you want to start? " />
    </NotAuthorized>
    <Authorized>
        <Chat />
    </Authorized>
</AuthorizeView>